# Ignore portable binaries and generated wrappers
/bin/*
!/bin/start.sh
!/bin/install.sh

# Ignore strictly all local testing data, databases, and logs
/data/*

# Ignore local config (optional, keep example)
/src/.env

# Ignore temp files
*.log
*.tar.gz
